[submodule "ts-prereq"]
	path = ts-prereq
	url = https://github.com/AlaaZorkane/turbin-ts-prereq
[submodule "ts-prereq-web3js-v2"]
	path = ts-prereq-web3js-v2
	url = https://github.com/AlaaZorkane/turbin3-ts-prereq-v2
[submodule "rust-prereq"]
	path = rust-prereq
	url = https://github.com/AlaaZorkane/turbin3-rust-prereq
[submodule "wba-ts"]
	path = wba-ts
	url = https://github.com/AlaaZorkane/wba-ts
[submodule "wba-rs"]
	path = wba-rs
	url = https://github.com/AlaaZorkane/wba-rs
[submodule "kasbah-capstone"]
	path = kasbah-capstone
	url = https://github.com/AlaaZorkane/kasbah-capstone
[submodule "vault"]
	path = vault
	url = git@github.com:AlaaZorkane/turbin3-vault.git
